<a href="https://colab.research.google.com/github/BPMvrn/Work_OM_public/blob/main/%D0%A0%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re

In [ ]:
pip install openpyxl==3.0.0

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving База отчета по РУБЛИКАМ.xlsx to База отчета по РУБЛИКАМ.xlsx
User uploaded file "База отчета по РУБЛИКАМ.xlsx" with length 5671633 bytes

In [ ]:
cube= pd.read_excel('/content/drive/MyDrive/work/База отчета по РУБЛИКАМ.xlsx', sheet_name='Лист2')
cube.rename(columns={'Партнеры[Код партнера]': 'code', 'Партнеры[Статус по потенциалу]': 'status2', 'Партнеры[Подканал сбыта]': 'channel', 'Партнеры[Бюджетник]': 'gov', '[Реальные_NEW]': 'count'}, inplace=True)
cube.head()

In [ ]:
cube = cube.replace({'status2':{'Крупный': '09. Крупный', 'VIP': '10. Vip&Key', 'Ключевой': '10. Vip&Key'}})
cube = cube.replace({'channel':{'КБ': '02. КБ', 'СМБ': '04. СМБ', 'ПРЦ': '03. ПРЦ'}})
cube = cube.replace({'gov':{'Да': '05. Госсектор'}})

In [ ]:
cube.insert(1, 'срез', '01. ОКТ')

In [36]:
dic= pd.read_excel('/content/drive/MyDrive/work/База отчета по РУБЛИКАМ.xlsx', sheet_name='справ')
dic.rename(columns={'Код клиента': 'code', 'Подключен': 'connect', 'Бонусный счет': 'acc_sum'}, inplace=True)
dic.drop(['Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
dic['code'] = dic['code'].str.extract('(\d+)')
dic.code = pd.to_numeric(dic.code).fillna(0)
date_pattern = r'([0-9]{2}\.[0-9]{2}\.[0-9]{4})'
dic['connect'] = dic['connect'].str.extract(date_pattern).astype('datetime64[ns]')
dic.head()

     code  acc_sum    connect
0  371401   763.57 2020-06-29
1  402069     0.00 2020-06-29
2  394377     0.00 2020-06-29
3  398115     0.00 2020-06-29
4  358790  1184.70 2020-06-29

In [34]:
dic.dtypes

code                int64
acc_sum           float64
connect    datetime64[ns]
dtype: object

In [34]:
cube.dtypes

code        int64
срез       object
status2    object
channel    object
gov        object
count       int64
dtype: object

In [41]:
df = pd.merge(dic, cube, how='left')
df.head()

     code  acc_sum          connect     срез  status2  channel  gov  count
0  371401   763.57  Да (29.06.2020)  01. ОКТ  Средний  04. СМБ  Нет    1.0
1  402069     0.00  Да (29.06.2020)  01. ОКТ   Мелкий  04. СМБ  Нет    1.0
2  394377     0.00  Да (29.06.2020)  01. ОКТ  Средний  04. СМБ  Нет    1.0
3  398115     0.00  Да (29.06.2020)  01. ОКТ  Средний  04. СМБ  Нет    1.0
4  358790  1184.70  Да (29.06.2020)  01. ОКТ  Средний  04. СМБ  Нет    1.0

In [32]:
dic.head()

     code  acc_sum    connect
0  371401   763.57 2020-06-29
1  402069     0.00 2020-06-29
2  394377     0.00 2020-06-29
3  398115     0.00 2020-06-29
4  358790  1184.70 2020-06-29